config AXXIA_NET
	bool "INTEL Axxia ACP34XX Ethernet support"
	depends on ARM || 44x
	select MII
	select PHYLIB
	default y
	help
	  Network interface driver for INTEL Axxia's 3000 and 5500
	  series boards.

if AXXIA_NET

config AXXIA_NET_NUM_RX_DESC
	int "INTEL Axxia Network Driver: Number of receive descriptors"
	depends on AXXIA_NET
	default "4"
	help
          The number of receive descriptors to allocate.

config AXXIA_NET_RX_BUF_SZ
	int "NIC driver: Size of the receive buffer"
	depends on AXXIA_NET
	default "32768"
	help
          The size of the receive buffer.

config AXXIA_NET_NUM_TX_DESC
	int "NIC driver: Number of transmit descriptors"
	depends on AXXIA_NET
	default "4"
	help
	  The number of transmit descriptors to allocate.

config AXXIA_NET_TX_BUF_SZ
	int "NIC driver: Size of the transmit buffer"
	depends on AXXIA_NET
	default "32768"
	help
	  The size of the transmit buffer.

endif # AXXIA_NET
