/*
 * Device Tree Source for the Kingfisher (ULCB extension) LVDS panel
 *
 * Copyright (C) 2018 Renesas Electronics Corp.
 * Copyright (C) 2018 Cogent Embedded, Inc.
 *
 * This file is licensed under the terms of the GNU General Public License
 * version 2.  This program is licensed "as is" without any warranty of any
 * kind, whether express or implied.
 */

&lvds {
	compatible = "panel-lvds";

	width-mm = <291>;
	height-mm = <109>;

	data-mapping = "jeida-24";

	panel-timing {
		/* 1280x480 @60Hz KOE TX31D200VM0BAA compatible panel */
		clock-frequency = <43200000>;
		hactive = <1280>;
		vactive = <480>;
		hsync-len = <20>;
		hfront-porch = <20>;
		hback-porch = <40>;
		vsync-len = <15>;
		vfront-porch = <15>;
		vback-porch = <20>;
	};
};

&gpio2 {
	sd {
		gpio-hog;
		gpios = <2 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "Scan Direction Normal";
	};

	bl_pwm {
		gpio-hog;
		gpios = <3 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "BL PWM 100%";
	};
};
